<!DOCTYPE html>

<html>
    <head>
        <title>World Wide Web</title>
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <div class="header">
            <h1 class="page-title"> World Wide Web</h1>
        </div>
        
        <ul class="nav">
            <li> <a href="/">Home</a> </li>
            <li> <a href="#news">News</a> </li>
            <li> <a href="#about">About</a> </li>
            <li> <a href="#contact">Contact</a> </li>
        </ul>
        
        <div class="main-content">
            <p>
                Lorem ipsum dolor sit amet, pri tacimates salutatus forensibus ea. Sit ceteros hendrerit
                consequuntur an, dicta tibique eu vis. Habeo impetus comprehensam te nam, in sit feugait
                principes. Cibo possit oblique qui cu, aperiri vivendum sed ne. Minim repudiare ne cum,
                ex graeco quodsi ius.
            </p>
              

            <p>
                Epicurei constituam sed at, id placerat similique tincidunt eam. Te quas inermis nominavi
                vel, in sea erant debitis reformidans, an cum eripuit democritum. Usu modus primis et, his
                errem scripserit cu. Mea cu aperiri repudiandae, id sit offendit noluisse torquatos. Sit
                te suas fastidii, cum nonumy iriure maluisset at, vix te graeco moderatius argumentum.
            </p>
        </div>
        
        <div class="footer">
            <p>
                Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
            </p>
        </div>
    </body>
</html>
